<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
</head>
  <body>
     <nav>
        <a href = "{{ url_for('show_all') }}">Show All Student</a> |
        <a href = "{{ url_for('new') }}">Add Student</a>
     </nav>
     <section>
       <h3>Students</h3>
      <form action = "/update_record" method = "post">
        <input type = "hidden" name = "oldname" value = "{{ oldname }}" /><br>
         <label for = "name">Name</label>
         <input type = "text" name = "name" value = "{{ result.name }}" /><br>
         <label for = "email">City</label>
         <input type = "text" name = "city" value = "{{ result.city }}" /><br>
         <label for = "addr">addr</label>
         <textarea name = "addr" placeholder = "addr">{{ result.addr }}</textarea><br>
         <label for = "PIN">PIN</label>
         <input type = "text" name = "pin" value = "{{ result.pin }}" /><br>
         <input type = "submit" value = "Submit" />
      </form>
    </section>
   </body>
</html>
